<div class="row">
  <form class="col s12" (submit)='onAddSubmit()'>
    <div class="row">
      <div class="input-field col s6">
        <input id="title" type="text" class="validate" name="title" [(ngModel)]="title">
        <label for="title">Title</label>
      </div>
      <div class="input-field col s6">
        <input id="city" type="text" class="validate" name="city" [(ngModel)]="city">
        <label for="city">City</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="owner" type="text" class="validate" name="owner" [(ngModel)]="owner">
        <label for="owner">Owner</label>
      </div>
      <div class="input-field col s6">
        <input id="bedrooms" type="text" class="validate" name="bedrooms" [(ngModel)]="bedrooms">
        <label for="bedrooms">Bedrooms</label>
      </div>
    </div>
    <div class="row">
      <label>Type</label>
      <select class="browser-default" name="type" [(ngModel)]="type">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn deep-purple darken-1">
          <span>Photo</span>
          <input type="file" id="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload file">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="price" type="number" class="validate" name="price" [(ngModel)]="price">
        <label for="price">Price</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <button type="submit" class="waves-effect waves-light btn deep-purple darken-1"><i class="material-icons right">cloud</i>Save</button>
      </div>
    </div>
  </form>
</div>